<!DOCTYPE html>
<html>
  <head>
    <title>Twitterclone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="container">
      <div id="header">
        <%= image_tag("twitter.png") %>
      <h1>Twitter Profile</h1>
    </div>
    <div id="top_page">
    <%= yield %>
  </div>
  <div id="footer">
    <p>Copyright © 2020 Twitter Clone. ALL RIGHTS RESERVED.</p>
  </div>
  </div>
  </body>
</html>
